body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

.content {
    display: flex;
    justify-items: center;
}

/* mobile */
@media only screen and (max-width: 800px) {
    .content {
        flex-direction: column;
    }
}

#main-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 2em;
}

.citations {
    margin: 0 2em;
    max-width: 600px;
}

.text {
    margin: 20px;
    font-size: 1.5em;
    text-align: center;
    color: #333;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 3em;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff3b2f;
}